2020 EE.csv
2021 EE.csv
2021.csv
2022 EE.csv
2022.csv
2023 EE.csv
2023.csv
2023.pdf
2024.csv
2024.pdf
ER_Alumnos_PDT_2021_PRIV_MRUN(A_INSCRITOS_PUNTAJES).pdf
ER_Alumnos_PDT_2022_MRUN(A_INSCRITOS_PUNTAJES).pdf
ER_Directorio_Oficial_EE_WEB.pdf
Frecuencias_Directorio_Oficial_EE_2020.xlsx
Frecuencias_Directorio_Oficial_EE_2021_PUBL.xlsx
Frecuencias_Directorio_Oficial_EE_2022.xlsx
Frecuencias_Directorio_Oficial_EE_2023.xlsx
20210223_Rendimiento_2020_20210131_WEB.csv
20220302_Rendimiento_2021_20220131_WEB.csv
20230209_Rendimiento_2022_20230131_WEB.csv
20240209_Rendimiento_2023_20240131_WEB.csv
ER Rendimiento por alumno, bases Web.pdf
Frecuencia_Rendimiento_2020_WEB.xlsx
Frecuencia_Rendimiento_2021_WEB.xlsx
Frecuencia_Rendimiento_2022_web.xlsx
Frecuencia_Rendimiento_2023_WEB.xlsx
Recomendaciones_uso_BBDD.pdf
